@model ScooterDomain.Model.Rider

@{
    ViewData["Title"] = "Деталі користувача";
}

<h1>Деталі користувача</h1>

<div>
    <h4>Користувач</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
<!-- Додайте цей блок у кінець файлу Details.cshtml -->
<div class="mt-3">
    <h4>Знижки</h4>
    <a asp-action="Discounts" asp-route-id="@Model.Id" class="btn btn-info">Переглянути знижки</a>
</div>