@model ScooterDomain.Model.ChargingStation

@{
    ViewData["Title"] = "Деталі станції";
}

<h1>Деталі станції</h1>

<div>
    <h4>Станція</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChargingSlots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChargingSlots)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentScooterCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentScooterCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>